<a href="https://colab.research.google.com/github/CeHaga/dsa-python-challenge7.5/blob/main/Challenge_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Fundamentals for Data Analysis - Chapter 7 - Challenge 5

Solutions made by Carlos Bravo, text from challenge made by Data Science Academy (https://www.datascienceacademy.com.br/path-player?courseid=python-fundamentos&unit=5ae359f35e4cded1908b456cUnit)

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.6.9

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [2]:
# Imports
import pandas as pd
import numpy as np

In [3]:
# Carrega o arquivo
load_file = "https://raw.githubusercontent.com/dsacademybr/PythonFundamentos/master/Cap07/DesafioDSA/Missao5/dados_compras.json"
planilha = pd.read_json(load_file, orient = "records")
planilha.head()

          Login  Idade  ...                               Nome do Item  Valor
0     Aelalis34     38  ...                Bone Crushing Silver Skewer   3.37
1        Eolo46     21  ...  Stormbringer, Dark Blade of Ending Misery   2.32
2   Assastnya25     34  ...                            Primitive Blade   2.46
3  Pheusrical25     21  ...                               Final Critic   1.36
4        Aela59     23  ...                             Stormfury Mace   1.27

[5 rows x 6 columns]

## Informações Sobre os Consumidores

In [4]:
consumidores_unicos = len(planilha['Login'].unique())
print('Há ' + str(consumidores_unicos) + ' consumidores')

Há 573 consumidores

## Análise Geral de Compras

In [5]:
itens_unicos = len(planilha['Nome do Item'].unique())
print('Há ' +str(itens_unicos) + ' itens exclusivos')

Há 179 itens exclusivos

In [6]:
preco_medio = planilha['Valor'].mean(axis=0)
print(f'O preço médio é: R$%.2f' % (preco_medio))

O preço médio é: R$2.93

In [7]:
total_compras = len(planilha)
print(f'Houve '+str(total_compras)+' compras')

Houve 780 compras

In [8]:
total_vendas = sum(planilha['Valor'])
print(f'O rendimento total é R$%.2f' % total_vendas)

O rendimento total é R$2286.33

## Informações Demográficas Por Gênero

In [9]:
cont_por_sexo = planilha[['Login','Sexo']].drop_duplicates()['Sexo'].value_counts()
total = sum(cont_por_sexo)
print(f'%.2f%% (%d) compradores do sexo masculino' % (cont_por_sexo['Masculino']/total*100, cont_por_sexo['Masculino']))
print(f'%.2f%% (%d) compradores do sexo feminino' % (cont_por_sexo['Feminino']/total*100, cont_por_sexo['Feminino']))
print(f'%.2f%% (%d) compradores do sexo outros/não divulgados' % (cont_por_sexo['Outro / Não Divulgado']/total*100, cont_por_sexo['Outro / Não Divulgado']))

81.15% (465) compradores do sexo masculino
17.45% (100) compradores do sexo feminino
1.40% (8) compradores do sexo outros/não divulgados

## Análise de Compras Por Gênero

In [10]:
qtd_por_sexo = planilha.groupby(['Sexo']).count()['Valor']
print(f'Clientes do sexo masculino compraram %d produtos' % qtd_por_sexo['Masculino'])
print(f'Clientes do sexo feminino compraram %d produtos' % qtd_por_sexo['Feminino'])
print(f'Clientes do sexo outros / não divulgado compraram %d produtos' % qtd_por_sexo['Outro / Não Divulgado'])

Clientes do sexo masculino compraram 633 produtos
Clientes do sexo feminino compraram 136 produtos
Clientes do sexo outros / não divulgado compraram 11 produtos

In [11]:
valor_por_sexo = planilha.groupby(['Sexo']).sum()['Valor']
print(f'Clientes do sexo masculino compraram R$%.2f no total e R$%.2f em média' % (valor_por_sexo['Masculino'],valor_por_sexo['Masculino']/qtd_por_sexo['Masculino']))
print(f'Clientes do sexo feminino compraram R$%.2f no total e R$%.2f em média' % (valor_por_sexo['Feminino'],valor_por_sexo['Feminino']/qtd_por_sexo['Feminino']))
print(f'Clientes do sexo outros / não divulgado compraram R$%.2f no total e R$%.2f em média' % (valor_por_sexo['Outro / Não Divulgado'],valor_por_sexo['Outro / Não Divulgado']/qtd_por_sexo['Outro / Não Divulgado']))

Clientes do sexo masculino compraram R$1867.68 no total e R$2.95 em média
Clientes do sexo feminino compraram R$382.91 no total e R$2.82 em média
Clientes do sexo outros / não divulgado compraram R$35.74 no total e R$3.25 em média

In [12]:
qtd_faixa_jovens = planilha[planilha['Idade'] <= 19].groupby(['Sexo']).count()['Valor']
qtd_faixa_adultos = planilha[planilha['Idade'].between(20,59)].groupby(['Sexo']).count()['Valor']
print('Jovens (até 19):')
print(f'Clientes jovens do sexo masculino compraram %d produtos' % qtd_faixa_jovens['Masculino'])
print(f'Clientes jovens do sexo feminino compraram %d produtos' % qtd_faixa_jovens['Feminino'])
print(f'Clientes jovens do sexo outros / não divulgado compraram %d produtos' % qtd_faixa_jovens['Outro / Não Divulgado'])
print()
print('Adultos (20 até 59):')
print(f'Clientes adultos do sexo masculino compraram %d produtos' % qtd_faixa_adultos['Masculino'])
print(f'Clientes adultos do sexo feminino compraram %d produtos' % qtd_faixa_adultos['Feminino'])
print(f'Clientes adultos do sexo outros / não divulgado compraram %d produtos' % qtd_faixa_adultos['Outro / Não Divulgado'])
print()
print('Não há clientes idosos (Acima de 59)')

Jovens (até 19):
Clientes jovens do sexo masculino compraram 156 produtos
Clientes jovens do sexo feminino compraram 39 produtos
Clientes jovens do sexo outros / não divulgado compraram 1 produtos

Adultos (20 até 59):
Clientes adultos do sexo masculino compraram 477 produtos
Clientes adultos do sexo feminino compraram 97 produtos
Clientes adultos do sexo outros / não divulgado compraram 10 produtos

Não há clientes idosos (Acima de 59)

## Consumidores Mais Populares (Top 5)

In [13]:
top5_login = planilha.groupby('Login',as_index=False).sum().sort_values(by='Valor',ascending=False).head(5)[['Login','Valor']]
top5_login_compras = planilha.groupby('Login',as_index=False).count()['Item ID']
top5_login = top5_login.join(top5_login_compras).rename(columns={'Valor': 'Valor Total', 'Item ID': 'Total de Compras'})
top5_login['Valor Médio'] = top5_login['Valor Total']/top5_login['Total de Compras']
top5_login

           Login  Valor Total  Total de Compras  Valor Médio
538  Undirrala66        17.06                 5     3.412000
428     Saedue76        13.56                 4     3.390000
354  Mindimnya67        12.74                 4     3.185000
181   Haellysu29        12.73                 3     4.243333
120       Eoda93        11.58                 3     3.860000

## Itens Mais Populares

In [14]:
top5_itens = planilha.groupby('Item ID').count()[['Login']].sort_values(by='Login',ascending=False).head(5).rename(columns={'Login': 'Número de Compras'})
top5_itens = top5_itens.merge(top5_itens.merge(planilha, on='Item ID')[['Item ID','Nome do Item','Valor']].drop_duplicates().rename(columns={'Valor':'Valor Unitário'}),on='Item ID')
top5_itens['Valor Total'] = top5_itens['Número de Compras']*top5_itens['Valor Unitário']
top5_itens

   Item ID  Número de Compras  ... Valor Unitário  Valor Total
0       39                 11  ...           2.35        25.85
1       84                 11  ...           2.23        24.53
2       31                  9  ...           2.07        18.63
3      175                  9  ...           1.24        11.16
4       13                  9  ...           1.49        13.41

[5 rows x 5 columns]

## Itens Mais Lucrativos

In [15]:
top5_lucro = planilha.groupby('Item ID').sum()[['Valor']].sort_values(by='Valor',ascending=False).head(5).rename(columns={'Valor':'Valor Total'})
top5_lucro['Quantidade de Compras'] = top5_lucro.merge(planilha,on='Item ID').groupby('Item ID').count()['Login']
top5_lucro.merge(planilha[['Item ID','Nome do Item','Valor']],on='Item ID').drop_duplicates().rename(columns={'Valor': 'Valor Unitário'})

    Item ID  Valor Total  ...                Nome do Item Valor Unitário
0        34        37.26  ...             Retribution Axe           4.14
9       115        29.75  ...  Spectral Diamond Doomblade           4.25
16       32        29.70  ...                     Orenmir           4.95
22      103        29.22  ...              Singed Scalpel           4.87
28      107        28.88  ...   Splitter, Foe Of Subtlety           3.61

[5 rows x 5 columns]

## Fim